
<ul class="maghost-authors_avatars {{class}}">
  {{#foreach authors}}
  <li class="item {{#unless ../noHover}}maghost-hoverable-avatar{{/unless}}">

    {{!-- AUTHOR CARD --}}
    {{> author_card }}

    {{!-- PROFILE IMAGE OR DEFAULT PROFILE LOGO --}}
    {{#if profile_image}}
    <a href="{{url}}" class="mg-avatar avatar">
      <img class="avatar-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
    </a>
    {{else}}
    <a href="{{url}}" class="mg-avatar avatar avatar-image">{{> "icons/avatar"}}</a>
    {{/if}}

  </li>
  {{/foreach}}
</ul>
