
<div class="maghost-author_card">

  {{!-- PROFILE IMAGE OR DEFAULT PROFILE LOGO --}}
  {{#if profile_image}}
  <img class="mg-avatar avatar" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
  {{else}}
  <div class="mg-avatar avatar">{{> "icons/avatar"}}</div>
  {{/if}}

  {{!-- PROFILE INFOS --}}
  <div class="info">
    {{#if bio}}
    <div class="info-name">{{name}}</div>
    <div class="info-text">{{bio}}</div>
    <div class="info-more_posts"><a href="{{url}}"><span maglocalize="author_card/More_posts">More posts</span></a> <span maglocalize="author_card/by">by</span> {{name}}.</div>
    {{else}}
    <div class="info-name">{{name}}</div>
    <div class="info-more_posts"><span maglocalize="author_card/Read">Read</span> <a href="{{url}}"><span maglocalize="author_card/more_posts">more posts</span></a> <span maglocalize="author_card/by_this_author">by this author</span>.</div>
    {{/if}}
  </div>

</div>
