
<article class="maghost-event_card maghost-feed-card {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

  {{!-- FEATURE IMAGE --}}
  <a href="{{url}}">{{> post_card_image }}</a>

  {{!-- CONTENT --}}
  <div class="content">

    {{!-- TITLE --}}
    <a class="event-title" href="{{url}}">{{title}}</a>
    {{!-- EXCERPT: DATE AND PLACE --}}
    <div class="event-date">{{excerpt}}</div>
    {{!-- CONTENT --}}
    <div class="event-content maghost-event_card-content">{{content words="100"}}</div>
    {{!-- READ MORE --}}
    <a class="event-read_more" href="{{url}}"><span maglocalize="event_card/read_more">read more</span></a>

  </div>

</article>
