
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           CONTENT
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

<div class="maghost-nav">

  {{!-- pages --}}
  <div class="maghost-nav-pages"></div>

  {{!-- languages --}}
  {{#unless noLanguages}}
    <div class="maghost-nav-languages"></div>
  {{/unless}}

  {{!-- post title (useful in post page) --}}
  <span class="maghost-nav-post_title">{{post.title}}</span>

</div>

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           SCRIPTS
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

let navSeparator = _.isString(maghostSettings.navbarSeparators) ? maghostSettings.navbarSeparators : "/";

//
//                              PAGES

var $pages = $(".maghost-nav-pages");
_.each(locale.navbar, function (pageKey) {

  // missing page in pages list
  if (!locale.pages[pageKey]) return console.error("You asked to display a page in navbar that you didn't set in your pages list. You should add it to the 'pages' object (see documentation for details).");

  // add page in navbar
  $("<a>", {
    href: locale.pages[pageKey].path +'?l='+ localeCode +'&p='+ pageKey,
    class: askedPageKey === pageKey ? "maghost-nav-current" : "",
    text: locale.pages[pageKey].title,
  }).appendTo($pages);
  $pages.append('<span> '+ navSeparator +' </span>');

});
$pages.children().last().remove(); // remove trailing slash

//
//                              LANGUAGES SWITCHER

{{#unless noLanguages}}
var $langSwitchContainer = $(".maghost-nav-languages");
if (_.keys(languages).length < 2) $langSwitchContainer.hide()
else _.each(languages, function (langObj, langCode) {

  // FIGURE OUT PATH TO PAGE TO OPEN
  // custom asked page (if one is defined in query)
  try { var pagePath = langObj.pages[askedPageKey].path +'?l='+ langCode +'&p='+ askedPageKey }
  // no asked page
  catch (e) { var pagePath = '?l='+ langCode; };
  $("<a>", {
    href: pagePath,
    class: langCode === localeCode ? "maghost-nav-current" : "",
    text: langCode,
  }).appendTo($langSwitchContainer);


  // SEPARATING SLASH
  $langSwitchContainer.append('<span> '+ navSeparator +' </span>');

});
$langSwitchContainer.children().last().remove(); // remove trailing slash
{{/unless}}

//
//                              NAVBAR POSITION AND PADDING

$(document).ready(function () {

  // MOVE NAVBAR TO TOP IF ASKED
  if (maghostSettings.navbarPosition === "top") $(".maghost-nav").css({
    "top": 0,
    "bottom": "unset",
    "border-top": "unset",
    "border-bottom": "var(--baseContrast) 1px solid",
  });

  // MAKE SURE MAIN CONTAINER HAS PROPER PADDING
  resizedNavbar();

});

// MAKE SURE MAIN CONTAINER HAS PROPER PADDING IF WINDOW IS RESIZED
$(window).on("resize", resizedNavbar);

// ADD PADDING TO MAIN CONTAINER FUNCTION
function resizedNavbar () {

  // ADD PADDING TO MAGHOST MAIN CORRESPONDING TO NAV HEIGHT
  $(".maghost-main").children().last().css("padding-bottom", $(".maghost-nav").css("height"));
  // $(".maghost-main").css("height", "calc(100%-"+ ($(".maghost-nav").height() + 30) +"px)");

  // IF ASKED TO HAVE NAVBAR ON TOP
  if (maghostSettings.navbarPosition === "top") {
    $(".maghost-main").children().last().css("padding-bottom", "unset");
    $(".maghost-main").css("padding-top", $(".maghost-nav").css("height"));
    $(".maghost-side").css("padding-top", $(".maghost-nav").css("height"));
  };

};

//                              ¬
//

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
</script>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
