
<article class="maghost-page_post {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           HEADER
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  <header class="maghost-page_post-header">

    {{!-- PAGE/POST TITLE --}}
    <h1 class="page_post-title maghost-page_post-header-title">{{title}}</h1>

    {{!-- TITLE COMPLEMENTS, IF ASKED --}}
    {{#unless titleOnly}}

      {{#has tag="#wiki,#event"}}
      {{else}}

      {{!-- POST EXCERPT --}}
      {{#if custom_excerpt}}
      <div class="excerpt">{{custom_excerpt}}</div>
      {{/if}}

      {{!-- POST HEADLINE (CONTAINING: AUTHORS, TAGS, READING TIME...) --}}
      {{> post_headline }}

      {{/has}}

    {{/unless}}

  </header>

  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           FEATURE IMAGE
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  {{#if feature_image}}
  <figure class="maghost-page_post-feature_image">
      {{!-- This is a responsive image, it loads different sizes depending on device
      https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
      <img
          srcset="{{img_url feature_image size="s"}} 300w,
                  {{img_url feature_image size="m"}} 600w,
                  {{img_url feature_image size="l"}} 1000w,
                  {{img_url feature_image size="xl"}} 2000w"
          sizes="(max-width: 800px) 400px,
              (max-width: 1170px) 1170px,
                  2000px"
          src="{{img_url feature_image size="xl"}}"
          alt="{{title}}"
      />
  </figure>
  {{/if}}

  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           CONTENT
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  <section class="maghost-page_post-content">
    {{content}}
  </section>

  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
</article>
