
<div class="maghost-post_footer">
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           PREVIOUS AND NEXT POSTS (by publishing date)
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  <div class="previous_and_next">
    <span class="footer-title" maglocalize="post_footer/Previous_and_next">Previous and next posts:</span>
    <div class="previous_and_next-posts">
      {{#prev_post}} {{> post_card }} {{/prev_post}}
      {{#next_post}} {{> post_card }} {{/next_post}}
    </div>
  </div>

  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           RELATED POSTS (= having the same primary tag)
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  {{#if primary_tag}}
  {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
  {{#if related_posts}}

    {{!-- CREATE A CARD LISTING RELATED POSTS --}}
    <div class="more_with_this_tag">

      {{!-- CARD HEADER --}}
      <header class="footer-title">
        {{#../primary_tag}}
        <span maglocalize="post_footer/Latest_with_tag">Latest posts with tag</span><span> [{{name}}]:</span>
        {{/../primary_tag}}
      </header>

      {{!-- CARD CONTENT (= list of three related posts) --}}
      <section>
        {{#foreach related_posts}}
          <div class="footer-related">
            <a class="footer-related-title" href="{{url}}">{{title}}</a>
            <div class="footer-related-meta">
              {{!-- NOTE: ideally, date and reading time should be translated (in post_card as well) --}}
              <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> • {{reading_time}}
            </div>
          </div>
        {{/foreach}}
      </section>

      {{!-- CARD FOOTER (= more posts clickable link) --}}
      <footer>
        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">
          {{plural meta.pagination.total empty='No posts' singular='% <span maglocalize="mg/post">post</span>' plural='<span maglocalize="post_footer/See_all">See all</span> % <span maglocalize="mg/posts">posts</span>'}} <span maglocalize="post_footer/with_tag">with tag</span> {{#../primary_tag}}[{{name}}]{{/../primary_tag}} →
        </a>
      </footer>

    </div>

  {{/if}}
  {{/get}}
  {{/if}}

  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
</div>
