
<article class="maghost-post_card maghost-feed-card {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

  {{!-- FEATURE IMAGE --}}
  <a href="{{url}}">{{> post_card_image }}</a>

  {{!-- CONTENT --}}
  <div class="post_card-content">

    <a class="post_card-link" href="{{url}}">

      {{!-- TITLE --}}
      <div class="post_card-title">{{title}}</div>

      {{!-- EXCERPT (if no image) --}}
      {{#unless feature_image}}
      <div class="post_card-excerpt">
        <p>{{excerpt words="44"}}</p>
      </div>
      {{/unless}}

    </a>

    {{!-- POST HEADLINE (CONTAINING: AUTHORS, TAGS, READING TIME...) --}}
    {{> post_headline withoutTag=true withoutAuthorCard=true }}

</div>

</article>
