
{{!-- POST AUTHORS CARD --}}
<div class="maghost-post_headline">

  {{!-- AUTHORS PROFILE IMAGES --}}
  {{#if withoutAuthorCard}}
    {{> authors_avatars noHover="true"}}
  {{else}}
    {{> authors_avatars }}
  {{/if}}

  {{!-- CARD CONTENT --}}
  <section class="content">
    <div class="authors">{{authors}}</div>
    <div class="details">

      {{!-- DATE AND READING TIME --}}
      <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      <span class="reading_time"><span>&bull;</span> {{reading_time}}</span>

    </div>
  </section>

  {{!-- POST TAGS --}}
  {{#unless withoutTag}}
    {{> tags_list tagsListClass="maghost-post_headline-tags_list" }}
  {{/unless}}

</div>
