
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           CONTENT
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

<div class="maghost-side maghost-side-left"></div>
<div class="maghost-side maghost-side-right"></div>

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           SCRIPTS
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  $.ajax({
    type: "GET",
    url: "/backgrounds/",
    success: function (resp) {

      // how many backgrounds to display for each sidebar
      var numberOfImagesToGet = maghostSettings.numberOfSideImagesToGet || 13;

      // get list of backgrounds available
      var backgroundsList = _.chain(resp.match(/src\=\"[^"]*"/g))
        .compact()
        .map(function (string) { return string.replace(/^src\=\"/, "").replace(/\"$/, ""); })
        .value()
      ;

      // suffle backgrounds, adding as many backgrounds as asked
      var shuffledBackgroundsList = [];
      while (shuffledBackgroundsList.length < numberOfImagesToGet*2) {
        shuffledBackgroundsList = _.flatten([shuffledBackgroundsList, _.shuffle(backgroundsList)]);
      };
      
      // divide backgrounds into two lists
      var backgroundsToDisplay = [
        _.first(shuffledBackgroundsList, numberOfImagesToGet),
        _.last(shuffledBackgroundsList, numberOfImagesToGet).reverse(),
      ];

      // display backgrounds
      _.each([$(".maghost-side-left"), $(".maghost-side-right")], function ($side, i) {
        _.each(backgroundsToDisplay[i], function (backgroundUrl) {
          $side.append('<img src="'+ backgroundUrl +'">')
        });
      });

    },
    error: function () {
      console.error("Error fetching backgrounds list!");
    },
  });

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</script>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
