
<div class="maghost-tags_list {{tagsListClass}}">
  {{#foreach tags}}
  <a
    class="maghost-tag"
    slug="{{ slug }}"
    href="/tag/{{ slug }}"
    color="{{accent_color}}"
    style="border-color: {{accent_color}}"
  >
    {{#if ../useDescription}}
      {{ description }}
    {{else}}
      {{ name }}
    {{/if}}
  </a>
  {{/foreach}}
</div>
