
<article
  class="maghost-wiki_card maghost-feed-card {{post_class}} {{#unless feature_image}}no-image{{/unless}}"
  wiki-category="{{excerpt}}"
>

  <div class="content">
    <a class="wiki-title" href="{{url}}">{{title}}</a>
  </div>

</article>
