{{!< feed}}
{{!-- The tag above means: insert everything in this file into the {body} of the feed.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           HEADER
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "header_additional"}}
{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--                                           DISPLAY HEADER IMAGE (using header_background partial)
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

{{> header_background background=cover_image }}

{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--                                           AUTHOR PRESENTATION
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

<div class="maghost-page_author-header">

  {{!--------------------------}}
  {{!-- AUTHOR PROFILE IMAGE --}}

  {{#if profile_image}}
  <img class="profile-image" src="{{profile_image}}" alt="{{name}}" />
  {{else}}
  <span class="profile-image">{{> "icons/avatar"}}</span>
  {{/if}}

  {{!------------------------}}
  {{!-- AUTHOR HEADER TEXT --}}

  <div class="author-text">

    {{!-- TITLE --}}
    <div class="author-title">{{name}}</div>

    {{!-- BIO --}}
    {{#if bio}}
    <div class="author-bio">{{bio}}</div>
    {{/if}}

    {{!-- META --}}
    <div class="author-meta">
      {{!-- location --}}
      {{#if location}} <div class="meta-location">{{location}}</div> {{/if}}
      {{!-- stats --}}
      {{#if location}}&nbsp;·&nbsp;{{/if}}
      <div class="meta-stats">{{plural ../pagination.total empty='<span maglocalize="mg/No_posts">No posts</span>' singular='% <span maglocalize="mg/post">post</span>' plural='% <span maglocalize="mg/posts">posts</span>'}} </div>
      {{#if website}}&nbsp;·&nbsp;{{/if}}
      {{!-- website --}}
      {{#if website}} <span class="meta-website_link"><a maglocalize="author/website" href="{{website}}" target="_blank" rel="noopener">website</a></span> {{/if}}
    </div>

  </div>

  {{!------------------------}}

</div>

{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{/author}}
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           FEED
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "feed"}}
  {{#foreach posts}}
    {{> post_card }}
  {{/foreach}}
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  .magfeed-header {
    border-bottom: none !important;
    padding: 0 !important;
  }

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</style>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
