{{!< feed}}
{{!-- The tag above means: insert everything in this file into the {body} of the feed.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           HEADER
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "header_title"}}Blog{{/contentFor}}

{{#contentFor "header_additional"}}
  {{!-- list of language tags --}}
  <div class="magblog-language_tags_list">
    <p class="magblog-tags_intro"></p>
    {{#get "tags" limit="all"}}
    {{> tags_list useDescription=true tagsListClass="magblog-lang_tags_list" }}
    {{/get}}
  </div>
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           FEED
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "feed"}}
  {{#foreach posts}}
    {{> post_card }}
  {{/foreach}}
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  {{!-- LANGUAGES TAGS --}}
  .magblog-lang_tags_list {
    padding-top: 1em;
  	text-align: center;
  }
  .magblog-lang_tags_list > a {
    margin: 0 1em;
  }

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</style>
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           SCRIPTS
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  // DISPLAY TAGS INTRO, AND CUSTOMIZE DISPLAY OF TAGS
  let blogLocaleObj = locale.pages[askedPageKey] || {};
  if (blogLocaleObj.tagsIntro) {
    $(".magblog-tags_intro").append(blogLocaleObj.tagsIntro)

    // TAGS LIST, ONLY SHOW TAGS STARTING WITH "lang:"
    $(".magblog-lang_tags_list").children().each(function () {
      // remove tags that are not language tags
      if (!$(this).attr("slug").match(/^lang\-/)) $(this).remove();
      // else $(this).text($(this).text().replace(/^lang\:/, ""));
    });
    $(".magblog-lang_tags_list").removeClass("hidden");

  }
  // IF NO TAGS INTRO, HIDE LIST OF TAGS
  else $(".magblog-language_tags_list").hide();

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</script>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
