{{!< feed}}
{{!-- The tag above means: insert everything in this file into the {body} of the feed.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           HEADER
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "header_title"}}Calendar{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           FEED
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "feed"}}
  {{#foreach posts}}
    {{> event_card }}
  {{/foreach}}
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
