<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles --}}
  <link rel="stylesheet" type="text/css" href="{{asset "built/styles.css"}}" />
  {{!-- the #block helper will pull in data from the #contentFor other template files --}}
  {{{block "styles"}}}

  {{!-- Libraries and locales (string translations) --}}
  <script src="{{asset "built/libraries.js"}}"></script>
  <script src="{{asset "built/locales.js"}}"></script>

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

  {{!-- Other scripts (from partials, pages...) --}}
  <script src="{{asset "built/scripts.js"}}"></script>

</head>
<body class="{{body_class}}">
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           CONTENT
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  <div class="maghost">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}
    {{!-- Note: cannot insert nav bar globally, otherwise block doesn't seem to work, it should be inserted in any page that needs it --}}
  </div>

  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           SCRIPTS
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  {{!-- the #block helper will pull in data from the #contentFor other template files --}}
  {{{block "scripts"}}}

  <script type="text/javascript">
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

    // TRANSLATE ALL STRINGS IN PAGE IN THE CURRENT LOCALE LANGUAGE
    maghost.localize();

    // ADD GLOBAL CLASSES TO MAGHOST TO ALLOW TO CUSTOMIZE IT
    if (_.isArray(maghostSettings.maghostCustomClasses)) $(".maghost").addClass(maghostSettings.maghostCustomClasses.join(" "));

    // IN POST FEEDS, FETCH NEW POSTS WHEN REACHING END OF PAGE
    maghost.infiniteScroll();

    // NOTE: fitVids is used to resize youtube, vimeo and other videos
    // if it seems useful to readd it you may do so by uncommentring the following lines, and readding it's script to the "assets/lib" folder (at the moment it's stored in "assets/lib-unused", if you readd it, make sure that it is after jquery since it depends on it)
    // $(document).ready(function () {
    //   $(".maghost-content").fitVids();
    // });

    // IN POSTS/PAGES, MAKE SURE THAT DISPLAY OF GALLERIES IS OK
    document.addEventListener("DOMContentLoaded", maghost.resizeImagesInGalleries);
    // MAKE IMAGES IN GALLERIES CLICKABLE TO DISPLAY IN FULLSCREEN
    document.addEventListener("DOMContentLoaded", maghost.makeImageGalleriesClickable);

    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
    //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  </script>

  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}
  {{!--                                           CONTENT FROM ADMIN INTERFACE
  {{!-------------------------------------------------------------------------------------------------------------------------------------}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
  {{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
</body>
</html>
