{{!--
This error template is used for all 400/500 errors, except 404, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
You'll notice that we *don't* use any JavaScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{asset "built/styles.css"}}" />

  <style>
    /*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
    /*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
    /*                                                  STYLES
    /*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

    .maghost {
      text-align: center;
      background-color: var(--base);
      color: var(--baseContrast);
    }

    .maghost-header {
      padding: 40px;
      margin-top: 10%;
    }
    .maghost-header a { display: inline-block; }

    .error-link {
      display: block;
      margin-top: 2em;
    }

    /*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
    /*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
  </style>

</head>
<body>
  <div class="maghost">

    {{!-- HEADER: SITE LOGO --}}
    <header class="maghost-header no-image">
      <a href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" />
        {{else}}
          {{@site.title}}
        {{/if}}
      </a>
    </header>

    <main class="maghost-main">
      <div class="maghost-content">

        {{!-- ERROR MESSAGE --}}
        <section class="error-message">
          <h1 class="error-code">{{statusCode}}</h1>
          <p class="error-description">{{message}}</p>
          <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>

        {{!-- ERROR DETAILS --}}
        {{#if errorDetails}}
        <section class="error-stack">
          <h3>Theme errors</h3>
          <ul class="error-stack-list">
            {{#foreach errorDetails}}
              <li>
                <em class="error-stack-function">{{{rule}}}</em>

                {{#foreach failures}}
                <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                <p><span class="error-stack-file">Message: {{message}}</span></p>
                {{/foreach}}
              </li>
            {{/foreach}}
          </ul>
        </section>
        {{/if}}

      </div>
    </main>
  </div>
</body>
</html>
