{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           CONTENT
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- NAVBAR --}}
{{> nav }}

{{!-- DRAWINGS ON THE SIDES --}}
{{> sides }}

{{!-- CONTENT --}}
<main class="maghost-main maghost-error-404">
  <div class="maghost-content">

    {{!----------------------------}}
    {{!-- ERROR CODE AND MESSAGE --}}

    <section class="mge4-error">
      <h1 class="mge4e-code">{{statusCode}}</h1>
      <p class="mge4e-description">{{message}}</p>
      <a class="mge4e-link" maglocalize="error404/Go_to_home" href="{{@site.url}}">Go to the front page →</a>
    </section>

    {{!----------------}}
    {{!-- POSTS FEED --}}
    {{!--

    {{#get "posts" limit="3" include="authors,tags"}}
    {{> "posts_feed" }}
    {{/get}}

    --}}
    {{!----------------}}

  </div>
</main>

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  .maghost-error-404 { }

  .mge4-error {
    text-align: center;
    font-family: Lato;
    color: var(--baseContrastMilder);
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .mge4e-code { font-size: 8em; }
  .mge4e-description { font-size: 2em; }

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</style>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
