{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           CONTENT
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- MAIN --}}
<div class="maghost-main">
  <img class="maghome-title_image" src="{{@site.logo}}">
  <div class="maghome-subtitle">{{@site.description}}</div>
</div>

{{!-- NAVIGATION BAR --}}
{{> nav}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
{{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

{{!-------------}}
{{!-- GENERAL --}}

.maghost {
  background-image: url("{{@site.cover_image}}");
  background-size: cover;
  background-position: bottom;
}

.maghost-main {
  font-family: var(--basefontLight), sans-serif;
  text-align: center;
  height: 100%;
}

{{!------------------------------}}
{{!-- CUSTOMIZE NAVBAR DISPLAY --}}

.maghost-nav {
  border: none !important;
  background-color: var(--baseTransparentMore);
}

{{!---------------}}
{{!-- CONTAINER --}}

.maghome-container {
  text-align: center;
  width: 100%;
}

{{!------------------------}}
{{!-- TITLE AND SUBTITLE --}}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.maghome-title_image {
  width: 30vw;
  padding-top: calc(50vh - 20vw);
  display: inline-block;

  /* fade in animation */
  opacity: 0;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  animation-duration: 1s;
}

.maghome-subtitle {
  font-size: 1.5em;
  margin: 1em;
  text-shadow: 1px 1px var(--baseContrast);

  /* fade in animation */
  opacity: 0;
  animation: fadein ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 1s;
}

@media (any-pointer:none), (any-pointer:coarse), (max-width: 700px) {
  .maghome-title_image {
    width: 60vw;
    padding-top: calc(50vh - 40vw);
  }
}

/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
</style>
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           SCRIPTS
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  // MODIFY SUBTITLE
  if (locale.homeSubtitle) $(".maghome-subtitle").html(locale.homeSubtitle);

  // MODIFY SUBTITLE COLOR
  if (_.isString(maghostSettings.homeSubtitleColor)) $(".maghome-subtitle").css("color", maghostSettings.homeSubtitleColor);

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
</script>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
