{{!< blog}}
{{!-- The tag above means: insert everything in this file into the {body} of the blog.hbs template --}}

{{!--
  as for maghost logic, index of blog posts is meant to be served by the template "blog.hbs",
  but since ghost requires that there is an index.hbs file,
  and also to make the theme work "out of the box" without having to necessarily customize routes,
  this file is provided as an alias directing to the "blog.hbs" template
--}}
