{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           CONTENT
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- NAVBAR --}}
{{> nav noLanguages=true }}

{{!-- DRAWINGS ON THE SIDES --}}
{{> sides }}

{{!-- CONTENT --}}
{{!-- the #post tags pulls data from the asked post --}}
{{#post}}
<main class="maghost-main">
  <div class="maghost-content">
    <article class="maghost-post {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
      {{> page_post }}
    </article>
  </div>

  {{#has tag="#wiki,#event"}}
  {{else}}
  <footer class="maghost-footer">
    {{> post_footer}}
  </footer>
  {{/has}}

</main>
{{/post}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  .maghost-footer {
    background-color: var(--baseMild);
  }

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</style>
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           SCRIPTS
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  $(document).ready(function () {

    // replace nav list of pages with title on scroll
    maghost.stickyNavTitle({
      navSelector: ".maghost-nav",
      titleSelector: ".maghost-page_post-header-title",
      activeClass: "active",
    });

  });

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</script>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
