{{!< feed}}
{{!-- The tag above means: insert everything in this file into the {body} of the feed.hbs template --}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           HEADER
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "header_additional"}}
{{#tag}}

{{!-- TAG IMAGE --}}
{{> header_background background=feature_image}}

{{!-- TAG CONTENT --}}
<div class="maghost-page_tag-header">

  {{!-- TAG TITLE --}}
  <div class="page_tag-title">{{name}}</div>

  {{!-- TAG DESCRIPTION --}}
  <div class="page_tag-description">
    {{#if description}}
    {{description}}
    {{else}}
    <span maglocalize="tag/A_collection_of">A collection of</span> {{plural ../pagination.total empty='<span maglocalize="mg/posts">posts</span>' singular='% <span maglocalize="mg/post">post</span>' plural='% <span maglocalize="mg/posts">posts</span>'}}
    {{/if}}
  </div>

</div>
{{/tag}}
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           FEED
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{#contentFor "feed"}}
  {{#foreach posts}}
    {{> post_card }}
  {{/foreach}}
{{/contentFor}}

{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!-------------------------------------------------------------------------------------------------------------------------------------}}
{{!--                                           STYLES
{{!-------------------------------------------------------------------------------------------------------------------------------------}}

{{!-- #contentFor helper sends everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "styles"}}
<style>
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}

  .magfeed-header {
    border-bottom: none !important;
    padding: 0 !important;
  }

  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
  {{!--\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/--}}
</style>
{{/contentFor}}

{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
{{!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||--}}
