
.maghost-post_card_image {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  height: 200px;
  background: transparent no-repeat center center;

  object-fit: cover;
}
