
.maghost-side {

  position: fixed;
  bottom: 0;
  height: 100%;
  /* the space left on each side of the content minus the content margin */
  width: calc(((100vw - var(--content_width)) / 2) - var(--content_margin));

  img { width: 100%; }
  
}

.maghost-side-left { left: 0; }
.maghost-side-right { right: 0; }
